<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<div ng-app="myapp" ng-controller="myctrl">
<input type="text" name="txt1" ng-model="txt1" />
<br><br>
<input type="text" name="txt2" ng-model="txt2" />
<br><br>
<input type="submit" value="click" ng-click="fun()" />
{{res}}
</div>
<script type="text/javascript">
	var app = angular.module("myapp",[]);
	app.controller("myctrl",function($scope){
       $scope.fun=function()
        {
        	$scope.res = eval($scope.txt1)+eval($scope.txt2);
        }
	});

</script>
</body>
</html>